{% extends "template.html.twig" %}
{% block body %}
    <nav class="navbar navbar-default navbar-inverse navbar-collapse navbar-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#showInfo">Structure <span class="sr-only">(current)</span></a></li>
                    <li><a href="#makeQuery"><i class="glyphicon glyphicon-edit"></i> Faire une requête</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row noShow" id="makeQuery">
            <form id="Query" method="POST" action="" class="form-group">
                <div class="panel panel-info panel-full">

                    <div class="panel-heading">
                        <h3 class="panel-title">Faire une requête</h3>
                    </div>
                    <div class="panel-body">
                <textarea name="query" rows="10" class="form-control">

                </textarea>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="submit" class="btn btn-success">
                        <input type="reset" class="btn btn-danger">
                    </div>

                </div>
            </form>
        </div>

        <div class="row" id="showInfo">
            <div class="panel panel-info panel-full">
                <div class="panel-heading">
                    <h3 class="panel-title">NOUVELLE BASE</h3>
                </div>
                <div class="panel-body" id="panel_body">
                    <form method="post" action="index.php?run=addDB" id="form_add_db">
                        <div class="form-group">
                            <label for="nomDB">Saisissez le nom de la base</label>
                            <input type="text" class="form-control" name="dbName" placeholder="Nom de la nouvelle base">
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
            <div class="modal fade"  data-backdrop="static" data-keyboard="false"  id="modal_add_db" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Résultat</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}