{% extends "template.html.twig" %}
                   {% block extends_header %}
                       <li><a href="#makeQuery"> Requête SQL</a></li>
                   {% endblock %}

{% block body %}

    <div class="block-header">
        <h2>Nouvelle base de données</h2>
    </div>



        <div class="row clearfix" id="showInfo">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="card">
                <div class="header bg-red">
                    <h5>
                        Saisissez le nom de la base de données
                    </h5>


                </div>

                <div class="panel-body" id="panel_body">
                    <form method="post" action="index.php?run=addDB" id="form_add_db">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="dbName" placeholder="Nom de la base de données">

                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect">Valider</button>
                    </form>
                </div>
            </div>
            <div class="modal fade"  data-backdrop="static" data-keyboard="false"  id="modal_add_db" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Résultat</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>



    </div>
    </div>
{% endblock %}