{% extends "template.html.twig" %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>ERREUR</h1>
            <h3>{{ error }}</h3>
        </div>
    </div>
{% endblock %}