<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Mon application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Connexion à my_phpMyAdmin">
    <link rel="stylesheet" type="text/css" href="PUBLIC/bootstrap-3.3.6-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="PUBLIC/font-awesome-4.5.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/bs.css" />
    <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/app.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,300" />
    <script type="text/javascript" src="PUBLIC/JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="PUBLIC/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6">

                        <h1 class="text-center">my_phpMyAdmin </h1>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 text-center  center-block">
                        <h2 class="text-center">Veuillez-vous connecter</h2>
                        <form action="/" name="login" id="connect" role="form" class="form-horizontal text-center" method="post" accept-charset="utf-8">


                                <input name="username" placeholder="Idenfiant" class="form-control" type="text" id="UserUsername"/>

                                <input name="password" placeholder="Mot de passe" class="form-control" type="password" id="UserPassword"/>

                                <input  class="btn btn-success btn btn-success" type="submit" value="Connexion"/>

                        </form>
                        </div>
        <div  id="main"></div>
                </div>
    </div>
    </div>
</body>
</html>