<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kepler Login</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/bs.css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php"><img src="assets/img/iumio.png" alt="iumio" class="logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text">
                    <h1><strong>Kepler</strong></h1>
                    <div class="description">
                        <h3>
                            Your database manager
                        </h3>
                    </div>
                    <div class="top-big-link">
                       An iumio component - <a href="https://iumio.com">Go to the iumio Universe</a>
                        <hr>
                        <span class="li-text">
                        <i class="fa fa-database"></i> Designed for MySQL Server
                    </span>
                    </div>
                </div>
                <div class="col-sm-5 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Connectez-vous</h3>
                            <p>Accédez à Kepler pour gérer vos bases de données</p>
                            {% if error is defined %}
                                <div class="alert-danger text-center">
                                    {{ error }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="index.php?run=makeLogin" method="post" class="registration-form">
                            <div class="form-group">
                                <label class="sr-only" for="login">IP ou nom de domaine</label>
                                <input type="text" required="required" name="ip" placeholder="IP ou nom de domaine" class="form-first-name form-control" id="form-first-name">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="login">Login</label>
                                <input type="text" required="required" name="login" placeholder="Votre login" class="form-first-name form-control" id="form-first-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-last-name">Mot de passe</label>
                                <input type="password"  required="required" name="passwd" placeholder="Votre mot de passe" class="form-last-name form-control" id="form-last-name">
                            </div>
                            <button type="submit" class="btn">Valider</button>
                            <button type="reset" class="btn">Annuler</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Javascript -->
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

</body>

</html>