.navbar-md
{
    border-radius: 0;
    background: #000000;
}

.panel-full .panel-body textarea
{
    width: 100%!important;
}

.form_add_table
{
    overflow-x:auto ;
}
.w100
{
    width: 100px;
}
.panel-full
{
    margin: 10px 10px 10px 10px;
}

.noShow
{
    display: none;
}

.panel-body-max-h
{
    max-height: 200px;
    overflow: auto;
}

.panel-body-max-h p
{
    padding : 10px 5px 10px 5px;
    text-align: center;
}

#panel_body{
    overflow-x: auto!important;
}

.full-width
{
    width: 100%;
}

.marginTop20{
    margin-top: 20px;
}

.help_edit{
    float: right;
    color:red;
    font-weight: bold!important;
}
/********************************************************************************
        *******************************************************************************
        *******************************************************************************/
.modal-lg{
    width: 1200px!important;
}
/********************************************************************************
        *******************************************************************************
        *******************************************************************************/
