.navbar-md
{
    border-radius: 0;
    background: #000000;
}

.marginBottom40{
    margin-bottom: 40px;
}

.panel-full .panel-body textarea
{
    width: 100%!important;
}

.form_add_table
{
    overflow-x:auto ;
}
.w100
{
    width: 100px;
}
.panel-full
{
    margin: 10px 10px 10px 10px;
}

.panel-cont
{
    overflow-x: auto;
    margin-right: 15px;
}

.noShow
{
    display: none;
}

.panel-body-max-h
{
    max-height: 200px;
    overflow: auto;
}

.log_sql
{
    margin-top: 27px;
}

.panel-body-max-h p
{
    padding : 10px 5px 10px 5px;
    text-align: center;
}

#panel_body{
    overflow-x: auto!important;
}

.table-modal{
    overflow-x: auto!important;
}

.full-width
{
    width: 100%;
}

.marginTop20{
    margin-top: 20px;
}

.help_edit{
    float: right;
    color:red;
    font-weight: bold!important;
}

.modal-lg
{
    width: 1200px!important;
}

.logo{
    width: 170px;
}

.listDB{
    cursor: pointer;
}

#show_sql_request{
    margin: 10px 10px 10px 10px;
}

#container {
    width: 100%;
    background: lightgray;
    height: 25px;
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0;
    right: 0;
    max-height: 231px;
    min-height: 25px;
    z-index: 10;
}
#handle {
    width: 100%;
    height: 6px;
    top: -6px;
    background-color: #000;
}

.console_title{
    font-weight: bold;
    color: #000;
    float: right;
    margin-right: 10px;
}